@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

--primary:#7C3AED;
--secondary:#3B82F6;
--accent:#06B6D4;
--orange:#F97316;

--white:#ffffff;
--text:#F8FAFC;
--text2:#CBD5E1;

--card:rgba(255,255,255,.08);

--glass:rgba(255,255,255,.09);

--border:rgba(255,255,255,.12);

--shadow:
0 15px 40px rgba(0,0,0,.35);

--radius:20px;

--transition:.35s ease;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

color:var(--text);

background:

linear-gradient(rgba(4,7,18,.82),rgba(4,7,18,.88)),

url("./video/one.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

overflow-x:hidden;

}

/* floating glow */

body::before{

content:"";

position:fixed;

width:600px;

height:600px;

background:#7C3AED;

filter:blur(180px);

top:-220px;

left:-220px;

opacity:.35;

z-index:-2;

}

body::after{

content:"";

position:fixed;

width:550px;

height:550px;

background:#06B6D4;

right:-180px;

bottom:-200px;

filter:blur(180px);

opacity:.25;

z-index:-2;

}



.mon{

position:sticky;

top:0;

z-index:999;

backdrop-filter:blur(18px);

background:rgba(9,13,30,.65);

/* border-bottom:1px solid rgba(255,255,255,.08); */

}

nav{

max-width:1300px;

margin:auto;

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 10px;

}

/* logo */

.first h1{

font-size:30px;

font-weight:700;

background:linear-gradient(
90deg,
#7C3AED,
#3B82F6,
#06B6D4
);

-webkit-background-clip:text;

color:transparent;

}

.first p{

margin-top:4px;

font-size:10px;

letter-spacing:1px;

color:var(--text2);

}

/* links */

nav a{

text-decoration:none;

color:var(--text2);

font-size:12px;

margin-left:25px;

transition:.3s;

position:relative;

}

nav a::after{

content:"";

position:absolute;

left:0;

bottom:-8px;

height:2px;

width:0;

background:linear-gradient(
90deg,
#7C3AED,
#06B6D4
);

transition:.35s;

}

nav a:hover{

color:white;

}

nav a:hover::after{

width:100%;

}

/* login */

.login{

width:130px;

height:45px;

border:none;

border-radius:50px;

font-size:15px;

font-weight:600;

cursor:pointer;

background:linear-gradient(
135deg,
#7C3AED,
#3B82F6
);

color:white;

transition:.35s;

box-shadow:

0 10px 30px rgba(124,58,237,.35);

}

.login:hover{

transform:translateY(-4px);

box-shadow:

0 18px 35px rgba(124,58,237,.55);

}

.dropdown{

display:inline-block;

position:relative;

cursor:pointer;

}

.second{

text-decoration:none;

color:var(--text2);

font-size:12px;

margin-left:25px;

transition:.3s;

position:relative;


}

.dropdown-content{

position:absolute;

top:20px;

left:-20px;

display:none;

width:220px;

padding:15px;

background:rgba(20,24,45,.95);

border-radius:18px;

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

box-shadow:var(--shadow);

}

.dropdown-content a{

display:block;

margin:12px 0;

}

.dropdown:hover .dropdown-content{

display:block;

animation:fade .35s;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:none;

}

}


.coo{

max-width:700px;

margin:90px auto 70px;

padding:70px;

text-align:center;

background:var(--glass);

backdrop-filter:blur(18px);

border:1px solid var(--border);

border-radius:30px;

box-shadow:var(--shadow);

animation:floatUp 1s;

}

.coo h1{

font-size:35px;

font-weight:600;

line-height:1;

margin-bottom:25px;

}

.coo p{

font-size:13px;

color:var(--text2);

max-width:650px;

margin:auto;

line-height:1;

}

@keyframes floatUp{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:none;

}

}


.signup-container{

width:30%;
max-width:470px;

margin:80px auto;

padding:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.12);

border-radius:28px;

box-shadow:0 25px 50px rgba(0,0,0,.35);

transition:.4s;

}

.signup-container:hover{

transform:translateY(-10px);

box-shadow:0 35px 70px rgba(124,58,237,.30);

}

.signup-container h2{

font-size:20px;

text-align:center;

margin-bottom:30px;

background:linear-gradient(90deg,#7C3AED,#06B6D4);

-webkit-background-clip:text;

color:transparent;

}

.signup-container label{

display:block;

margin-bottom:8px;

font-size:12px;

font-weight:500;

color:#CBD5E1;

}

.signup-container input{

width:100%;

padding:16px 20px;

margin-bottom:22px;

background:rgba(255,255,255,.06);

border:1px solid rgba(255,255,255,.10);

border-radius:15px;

color:white;

font-size:15px;

transition:.3s;

}

.signup-container input::placeholder{

color:#94A3B8;

}

.signup-container input:focus{

outline:none;

border-color:#7C3AED;

background:rgba(255,255,255,.12);

box-shadow:0 0 25px rgba(124,58,237,.35);

}

.signup-container button{

width:100%;

padding:12px;

border:none;

border-radius:16px;

font-size:15px;

font-weight:600;

cursor:pointer;

background:linear-gradient(135deg,#7C3AED,#3B82F6);

color:white;

transition:.35s;


}

.signup-container button:hover{

transform:translateY(-4px);

box-shadow:0 18px 40px rgba(59,130,246,.40);

}



.carousel{

max-width:1200px;

margin:100px auto;

padding:20px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

gap:35px;

}

.carousel-item{

position:relative;

overflow:hidden;

padding:40px;

background:rgba(255,255,255,.08);

border-radius:25px;

border:1px solid rgba(255,255,255,.10);

backdrop-filter:blur(18px);

transition:.4s;

cursor:pointer;

}

.carousel-item::before{

content:"";

position:absolute;

width:100px;

height:100px;

background:linear-gradient(135deg,#7C3AED,#06B6D4);

top:-80px;

right:-80px;

opacity:.15;

border-radius:50%;

transition:.4s;

}

.carousel-item:hover{

transform:translateY(-15px);

border-color:#7C3AED;

box-shadow:0 25px 60px rgba(0,0,0,.35);

}

.carousel-item:hover::before{

transform:scale(1.5);

opacity:.3;

}

.carousel-item h2{

font-size:20px;

margin-bottom:20px;

color:white;

}

.carousel-item p{

font-size:12px;

line-height:1.9;

color:#CBD5E1;

}


.carousel-item::after{

content:"";

position:absolute;

left:0;

bottom:0;

width:100%;

height:5px;

background:linear-gradient(
90deg,
#7C3AED,
#3B82F6,
#06B6D4,
#F97316
);

}



::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#09111f;

}

::-webkit-scrollbar-thumb{

background:linear-gradient(#7C3AED,#06B6D4);

border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

background:#F97316;

}



.carousel-item,
.signup-container{

animation:appear .8s ease;

}

@keyframes appear{

from{

opacity:0;

transform:translateY(70px);

}

to{

opacity:1;

transform:none;

}

}


.footer{

margin-top:120px;

background:rgba(8,12,30,.90);

backdrop-filter:blur(20px);

border-top:1px solid rgba(255,255,255,.08);

padding:70px 8% 25px;

}

.footer-container{

max-width:1400px;

margin:auto;

display:grid;

grid-template-columns:2fr 1fr 1fr;

gap:60px;

}

.footer-section h1{

font-size:34px;

margin-bottom:18px;

background:linear-gradient(
90deg,
#7C3AED,
#06B6D4
);

-webkit-background-clip:text;

color:transparent;

}

.footer-section h4{

margin-bottom:18px;

font-size:20px;

color:white;

}

.footer-section p{

color:#CBD5E1;

line-height:1.9;

font-size:15px;

}

.footer-section ul{

list-style:none;

}

.footer-section li{

margin:14px 0;

}

.footer-section a{

color:#CBD5E1;

text-decoration:none;

transition:.35s;

}

.footer-section a:hover{

padding-left:10px;

color:white;

}

.social-links{

display:flex;

gap:18px;

margin-top:15px;

}

.social-links a{

display:flex;

justify-content:center;

align-items:center;

width:55px;

height:55px;

border-radius:50%;

background:rgba(255,255,255,.08);

font-size:22px;

transition:.35s;

}

.social-links a:hover{

transform:translateY(-8px);

background:linear-gradient(
135deg,
#7C3AED,
#3B82F6
);

}

.footer-bottom{

margin-top:55px;

padding-top:25px;

text-align:center;

border-top:1px solid rgba(255,255,255,.08);

color:#94A3B8;

font-size:14px;

}



.coo,
.signup-container,
.carousel,
.footer{

animation:fadeUp .8s ease;

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(45px);

}

to{

opacity:1;

transform:none;

}

}



button,
a,
input,
.carousel-item{

transition:.35s ease;

}

button:active{

transform:scale(.97);

}

.carousel-item:hover h2{

color:#06B6D4;

}


@media(max-width:1024px){

nav{

padding:25px;

flex-wrap:wrap;

height:auto;

gap:25px;

}

.coo{

width:90%;

padding:55px;

}

.coo h1{

font-size:45px;

}

.signup-container{

width:90%;

}

.carousel{

grid-template-columns:repeat(2,1fr);

}

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.social-links{

justify-content:center;

}

}



@media(max-width:768px){

nav{

flex-direction:column;

padding:20px;

}

nav>div:last-child{

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:15px;

}

nav a{

margin:0;

}

.dropdown{

width:100%;

text-align:center;

}

.dropdown-content{

left:50%;

transform:translateX(-50%);

}

.first{

text-align:center;

}

.first h1{

font-size:32px;

}

.coo{

width:92%;

padding:40px 25px;

margin-top:40px;

}

.coo h1{

font-size:34px;

}

.coo p{

font-size:16px;

}

.signup-container{

width:92%;

padding:30px;

}

.signup-container h2{

font-size:28px;

}

.carousel{

grid-template-columns:1fr;

padding:15px;

}

.carousel-item{

padding:30px;

}

.footer{

padding:60px 30px;

}

.footer-container{

gap:40px;

}

.social-links{

justify-content:center;

flex-wrap:wrap;

}

}



@media(max-width:480px){

.coo h1{

font-size:28px;

}

.coo p{

font-size:15px;

}

.login{

width:100%;

}

.signup-container{

padding:25px;

}

.carousel-item{

padding:25px;

}

}



@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

.carousel-item:nth-child(2){

animation:float 6s infinite;

}

.carousel-item:nth-child(4){

animation:float 7s infinite;

}

.carousel-item:nth-child(5){

animation:float 8s infinite;

}



::selection{

background:#7C3AED;

color:white;

}